*{
    margin: 0;
}
body{
    background-color: black;   
}

.nav{
    display: flex;
    flex-wrap: wrap;
}

.logo {
    padding: 2rem 5rem;
    /* color: rgba(255, 255, 255,1); */
    font-size: 3rem;
}

.logo a{
    text-decoration: none;
    color: rgba(255, 255, 255,1);
}

.menu{
    position: absolute;
    flex-wrap: wrap;
    right:0;
    margin: 3rem 0 0 0;
    display: flex;
    background-color: rgba(49, 49, 49, 0.9);
    padding: 0.7rem;    
    border-radius: 0.6rem 0 0 0.6rem;
    float: right;
    
}

.menu > a{  
    text-decoration: none;
    color: rgb(227, 227, 227);
    padding: 0rem 1.6rem;
    font-weight: 900;
    font-size: large;
    transition: 1s ease-in-out;
}

.menu  a:hover{
    text-decoration: underline;
    font-size: larger;
}

.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 1.9rem;
    padding: 2rem; */
    /* background-color: rgba(207, 207, 207, 0.7); */
    border-radius: 1rem;
}

.card{
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    margin: 1rem ;
    padding: 1rem 0;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: rgba(207, 207, 207, 0.7);
}

.buy{
    display: flex;
    margin: 1rem 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.details{
    align-items : center;
    margin: auto auto auto 0;
}

.details p{
    font-size: 1rem;
}

.c1{
    margin: auto;
}

.buy a{
    text-decoration: none;
    font-size:2rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
}

.buy h5{
    text-decoration: none;
    font-size:1.5rem;
}

.z{
    color: rgb(204, 40, 40);
}

.s{
    color: rgb(204, 86, 23);
}


/* .c1{
    display: flex;
    width: 250px;
    flex-direction: column;
    margin: 0.7rem auto  ;
} */


.c1 > img{
    width: 10rem;
    height: 10rem;
    margin: auto 0 auto auto;
    border: 0.7rem solid white;
    border-radius: 10%; 
    justify-content: center;
}

.c1 > a{
    text-align: center;
    text-decoration: none;
    font-size: larger;
    color: white;
    margin-top: 0.8rem;
}

.footer{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin:2rem 0 0 0   ;
}

.footer>div{
    padding: 1rem 4rem;
}

.footer h4{
    color: rgb(143, 143, 143);
    padding: 0.5rem 0;
}

.footer_r{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_r a{
    text-decoration: none;
    color: aliceblue;
}

.footer_r h2{
    margin: 0.5rem 0;
}

.menu_btn{
    display: none;
}




@media (max-width: 700px) {
    .menu{
        flex-direction: column;
        top: 3rem;
        /* display: none; */
    }

    .menu_btn{
    
        position: absolute;
        flex-wrap: wrap;
        right:0;
        margin: 3rem 0 0 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(49, 49, 49, 0.9);
        padding: 0.7rem;    
        border-radius: 0.6rem 0 0 0.6rem;
        float: right;
    }
    .menu_btn hr{
        width: 1rem;
        margin: 0.2rem;
    }
    .hide{
        display: none;
    }
    .show{
    display: flex;
    }
    @media (max-width: 400px){
        .card{
            display: flex;
            width: 80%;
            flex-wrap: wrap;
            margin: 1rem ;
            padding: 1rem 0;
            justify-content: space-around;
            border-radius: 1rem;
            background-color: rgba(207, 207, 207, 0.7);
        }

        .details{
            text-align: center;
        }
    }
  }